<div>
    <p>填写信息：  </p>
</div>
<form   role="form" method="post" >
  {% raw xsrf_form_html() %}
 请假类型：
<select id="listleave_style" class="selectpicker" name="leave_type">
   <option value="0"> 事假 </option>
　　<option value="1"> 病假 </option>
    <option value="2"> 外出 </option>
　　<option value="3"> 年假 </option>
</select>
 <p>    直接上级：
<select id="superior" class="selectpicker" name="superior_name">
<option value="{{superior_name}}">{{superior_name}} </option>
</select>
 </p>
<p>开始时间: <input type="text" class="datepicker" name="leave_time_begin"></p>
<p>结束时间: <input type="text" class="datepicker" name="leave_time_end"></p>
<p>年假天数：共{{pre_year_holiday}},剩下{{remain_year_holiday}}天</p>
<p>请假事由:</br>
   <textarea  cols="10" name="reason_for_leave" class="form-control textareawidth" rows="6">

</textarea>
</p>
<input type="submit" value="提交" class="btn"/>
</form>


<div>

</div>
 <!--
 <link rel="stylesheet" href="../../resource/css/jquery-ui-1.10.4.custom.min.css">-->
 <script type="text/javascript" src="../../resource/js/jquery-1.11.0.js"></script>
 <script src="../../resource/js/jquery-ui.js"></script>
        <!--Load Script and Stylesheet -->
<script type="text/javascript" src="../../resource/js/jquery.simple-dtpicker.js"></script>
<link type="text/css" href="../../resource/js/jquery.simple-dtpicker.css" rel="stylesheet" />


<!--add selectbutton css-->
<!-- 3.0 -->
 <link href=" ../../resource/dist/css/bootstrap3.0.0.css" rel="stylesheet">
<script type="text/javascript" src="../../resource/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="../../resource/js/bootstrap-select.css">
<script type="text/javascript" src="../../resource/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../resource/css/askforleave.css">
<script type="text/javascript" src="../../resource/js/askforleave.js"></script>