
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
</head>
<body>


<div>
    <form  role="form" method="post" >
         {% raw xsrf_form_html() %}
<p >
    <input type="text" name="name" value="{{name}}">
        </p>
<p>
    密码：<input type="text" name="password" >
</p>

          <button  type="submit" >确认</button>
      </form>
</div>


</body>
</html>