
<div>
    <form  role="form" method="post" action="/updatepwd">
         {% raw xsrf_form_html() %}
              <input type="text" class="form-control form-control-changepwd" value="{{name}}" placeholder="登录名" name="name" required autofocus>
        <input type="password" class="form-control form-control-changepwd" placeholder="密码" name="password" required>

          <button  type="submit" class="btn btn-info btn-sm btn-infopaging changepwdbutton" >确认</button>
      </form>
</div>
    <link href="../../resource/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../resource/css/signin.css" rel="stylesheet">
        <link href="../../resource/css/changepwd.css" rel="stylesheet">