
 <div id="timesearch">
<select  class="selectpicker timesearch"  name="timesearch">
    <option value="all"> 全部 </option>
    <option value="1"> 当前月份 </option>
　  <option value="2"> 前两月 </option>
    <option value="3"> 前三月 </option>
　　
</select>
</div>

<div id="exceptiondata" >
</div>

<div id="exceptiondataajax">
<div id="paging"  >
  <button id="beforepage" class="btn btn-info btn-infopaging controlpaging">上页</button>
  <button id="afterpage" class="btn btn-info btn-infopaging controlpaging">下页</button>
  当前页数:<label id="nowpage">1</label>
    </div>
</div>


 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
 <!--
 <link rel="stylesheet" href="../../resource/css/jquery-ui-1.10.4.custom.min.css">-->
<script type="text/javascript" src="../../resource/js/leave.js"></script>
<script type="text/javascript" src="../../resource/js/jquery-1.11.0.js"></script>
<script src="../../resource/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/JavaScript">
name = "{{name}}";
superiorStyle = "{{superiorStyle}}"
</script>
<script language="JavaScript" type="text/JavaScript" src="../../resource/js/leave.js"></script>
<script type="text/javascript" src="../../resource/js/exceptiondata.js"></script>
<link href="../../resource/css/signin.css" rel="stylesheet">
<link href="../../resource/css/leavedetail.css" rel="stylesheet">

<!--add selectbutton css-->
<!-- 3.0 -->
 <link href=" ../../resource/dist/css/bootstrap3.0.0.css" rel="stylesheet">
<script type="text/javascript" src="../../resource/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="../../resource/js/bootstrap-select.css">
<script type="text/javascript" src="../../resource/dist/js/bootstrap.min.js"></script>