<div id="leavedetail" >
</div>
<div id="leavedetailajax">
<div id="paging"  >
  <button id="beforepage" class="btn btn-info btn-infopaging controlpaging">上页</button>
  <button id="afterpage" class="btn btn-info btn-infopaging controlpaging">下页</button>
  当前页数:<label id="nowpage">1</label>
    </div>
</div>


 <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
<link rel="stylesheet" href="../../resource/css/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="../../resource/js/leave.js"></script>
<script type="text/javascript" src="../../resource/js/jquery-1.11.0.js"></script>
<script src="../../resource/js/jquery-ui.js"></script>
<link href="../../resource/css/signin.css" rel="stylesheet">
<link href="../../resource/css/leavedetail.css" rel="stylesheet">
<script type="application/javascript">
 comfirm = "{{comfirm}}" ;
name = "{{name}}";
superiorStyle = "{{superiorStyle}}";
</script>
<script  type="text/JavaScript" src="../../resource/js/leavedetail.js"></script>
