<table border="1">
  <tr>
    <th>编号</th>
    <th>姓名</th>
      <th>类型</th>
    <th>日期</th>
      <th>日期</th>
      <th>原因</th>
    <th>天数</th>
      <th>状态</th>
    <th>基本操作</th>
  </tr>
    {% for index,leavedetail in enumerate(leavedetails) %}
    <tr>
    <th>{{index+1}}</th>
    <th>{{name}}</th>
      <th name="leave_type" >{{leavedetail["leave_type"]}}</th>
    <th name="leave_time_begin">{{leavedetail["leave_time_begin"]}}</th>
        到<th name="leave_time_end">{{leavedetail["leave_time_end"]}}</th>
      <th>{{leavedetail["reason_for_leave"]}}</th>
    <th name="day_num"></th>
      <th name="status">{{leavedetail["verify_status"]}}</th>
    <th><button>ddd</button> <button>ddd</button></th>
  </tr>
 {% end %}
</table>
 <script type="text/javascript">
   pagings=document.getElementsByClassName("paging");
 for(j=0;j<pagings.length;j++){
     url="http://localhost:9000/leave_detailajax?index="+pagings[j].innerHTML;
 document.write(url);
 pagings[j].setAttribute("onclick","loadXMLDoc(url)");
 doucment.write(pagings[j].getAttribute('onclick'))
</script>

