

  <meta charset="utf-8">
<div id="leavedetail">

</div>
 <button id="first_page" onclick="">首页</button>
      <input type="text"  id="switch_value">
          <button id="switch">转至</button>
          <button id="last_page">尾页</button>
<ul class="pagination">
  <li><a id="paging_left" >&laquo;</a></li>
  <li><a  class="paging" onclick="">1</a></li>
  <li><a  class="paging" onclick="">2</a></li>
  <li><a  class="paging" onclick="">3</a></li>
  <li><a  class="paging" onclick="">4</a></li>
  <li><a  class="paging" onclick="">5</a></li>
  <li><a  id="paging_right" >&raquo;</a></li>
</ul>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
 <!--
 <link rel="stylesheet" href="../../resource/css/jquery-ui-1.10.4.custom.min.css">-->
 <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
 <script type="text/javascript" src="../../resource/js/jquery-1.11.0.js"></script>
 <script src="../../resource/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/JavaScript">
var _TheArray = new Array;
comfirm = "{{comfirm}}" ;
name = "{{name}}";
superiorStyle="{{superiorStyle}}"

$('#paging_right,#paging_left').click( function (){
  if(this.id=="paging_left")
  step=-5;
  else if(this.id=="paging_right")
  step=5;
  navigate_control(step);
});
$('#first_page').click(function(){
 loadXMLDoc("http://localhost:9000/leave_detailajax?index=1"+"&comfirm="+comfirm+"&name="+name+"&superiorStyle="+superiorStyle);
 }
);
$('#switch').click(function(){
 var switch_value=$('#switch_value').val();
 loadXMLDoc("http://localhost:9000/leave_detailajax?index="+switch_value+"&comfirm="+comfirm+"&name="+name+"&superiorStyle="+superiorStyle);
 }
);
$('#last_page').click(function(){
 loadXMLDoc("http://localhost:9000/leave_detailajax?lastpage=1"+"&comfirm="+comfirm+"&name="+name+"&superiorStyle="+superiorStyle);
 }
);

navigate_control();
function navigate_control(step){
   if(!step) step=0;
   pagings=document.getElementsByClassName("paging");
  for(j=0;j<pagings.length;j++){
      pagings[j].innerHTML=parseInt(pagings[j].innerHTML)+step;
      if (pagings[j].innerHTML<1) {
      pagings[j].innerHTML=parseInt(pagings[j].innerHTML)-step;
       break;
      }
      _TheArray[j]="http://localhost:9000/leave_detailajax?index="+parseInt(pagings[j].innerHTML)+"&comfirm="+comfirm+"&name="+name+"&superiorStyle="+superiorStyle;
  }
pagings[0].setAttribute("onclick","loadXMLDoc(_TheArray[0])");
pagings[1].setAttribute("onclick","loadXMLDoc(_TheArray[1])");
pagings[2].setAttribute("onclick","loadXMLDoc(_TheArray[2])");
pagings[3].setAttribute("onclick","loadXMLDoc(_TheArray[3])");
pagings[4].setAttribute("onclick","loadXMLDoc(_TheArray[4])");
}
</script>

 <script type="text/javascript">
function loadXMLDoc(url)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("leavedetail").innerHTML=xmlhttp.responseText;
    leave_type_id=["0","1"];
    leave_type_name=["事假","病假"];
    status_id=["0","1"];
    status_name=["未确认","确认"];
    toggle(leave_type_id,leave_type_name,"leave_type");
    toggle(status_id,status_name,"status");
    var arr_leave_time_begin=document.getElementsByName("leave_time_begin");
    var arr_leave_time_end=document.getElementsByName("leave_time_end");
    var arr_daynum=document.getElementsByName("day_num");
    var comfirmButtons=document.getElementsByName("comfirmButton");
    var deleteButtons = document.getElementsByName("deleteButton");
    if(superiorStyle == "0"){
    if(comfirm == "1"){
       disabletags(comfirmButtons);
       disabletags(deleteButtons);
    }
    else{
        disabletags(comfirmButtons);
    }
    }
    else{
         if(comfirm == "1"){
       disabletags(comfirmButtons);
    }

    }

    Calculateleaveday(arr_leave_time_begin,arr_leave_time_end,arr_daynum);
    }
  }

xmlhttp.open("GET",url,true);
xmlhttp.send();
}
loadXMLDoc("http://localhost:9000/leave_detailajax?index=1"+"&comfirm="+comfirm+"&name="+name+"&superiorStyle="+superiorStyle)
function disabletags(tags){
    for(i=0;i<tags.length;i++)
        tags[i].style.display="none"
}
</script>
<script language="JavaScript" type="text/JavaScript" src="../../resource/js/leave.js">
</script>