<div>
    <p>填写信息：  </p>
姓名：<span name="leave_type" >{{exceptiondata.name}}</span>
<p>上班打卡时间: <span name="punchwork">{{exceptiondata.punchwork}}</span></p>
<p>下班打卡时间:<span name="punchworkoff">{{exceptiondata.punchworkoff}}</span> </p>
     <p>日期：<span name="daytime">{{exceptiondata.daytime}}</span></p>
<p>应到:<span > {{exceptiondata.musttime}}</span></p>

      <p>实际到:<span name="status">{{exceptiondata.realtime}}</span></p>
      <p>迟到时间:<span name="status">{{exceptiondata.latetime}}</span></p>
    <p>早到时间:<span name="status">{{exceptiondata.earlytime}}</span></p>
    <p>加班:<span name="status">{{exceptiondata.overtime}}</span></p>
      <p>是否旷工:<span name="status">{{exceptiondata.isabsent}}</span></p>
      <p>出勤时间:<span name="status">{{exceptiondata.worktime}}</span></p>
      <p>备注:<span name="status">{{exceptiondata.remark}}</span></p>

 </div>


<script language="JavaScript" type="text/JavaScript" src="../../resource/js/leave.js">
</script>
<script type="text/javascript">
    leave_type_id=["0","1"];
    leave_type_name=["事假","病假"];
    status_id=["0","1"];
    status_name=["未确认","确认"];
    toggle(leave_type_id,leave_type_name,"leave_type");
    toggle(status_id,status_name,"status");
    var arr_leave_time_begin=document.getElementsByName("leave_time_begin");
    var arr_leave_time_end=document.getElementsByName("leave_time_end");
    var arr_daynum=document.getElementsByName("day_num");
    Calculateleaveday(arr_leave_time_begin,arr_leave_time_end,arr_daynum);
</script>
