<div>
    <p>填写信息：  </p>

请假类型：<span name="leave_type" >{{leave[0]["leave_type"]}}</span>
<p>开始时间: <span name="leave_time_begin">{{leave[0]["leave_time_begin"]}}</span></p>
<p>结束时间:<span name="leave_time_end">{{leave[0]["leave_time_end"]}}</span> </p>
     <p>请假天数：<span name="day_num"></span></p>
<p>请假事由:</br>
   <span > {{leave[0]["reason_for_leave"]}}</span>
</p>
        <p>请假状态:<span name="status">{{leave[0]["verify_status"]}}</span></p>


 </div>


<script language="JavaScript" type="text/JavaScript" src="../../resource/js/leave.js">
</script>
<script type="text/javascript">
    leave_type_id=["0","1"];
    leave_type_name=["事假","病假"];
    status_id=["0","1"];
    status_name=["未确认","确认"];
    toggle(leave_type_id,leave_type_name,"leave_type");
    toggle(status_id,status_name,"status");
    var arr_leave_time_begin=document.getElementsByName("leave_time_begin");
    var arr_leave_time_end=document.getElementsByName("leave_time_end");
    var arr_daynum=document.getElementsByName("day_num");
    Calculateleaveday(arr_leave_time_begin,arr_leave_time_end,arr_daynum);
</script>
