   <form id="form1" action="https:localhost:9000/upload" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>附件名字:</td>
                <td>
                    <input type="text" name="fileName" /></td>
            </tr>
            <tr>
                <td>附件:</td>
                <td>
                    <input type="file" name="document" /></td>
            </tr>
            <tr>
                <td colspan="2" style="align-content: center">
                    <input type="submit" value="模拟iframe提交表单" />
                </td>
            </tr>
        </table>
    </form>
    <label id="responseText"></label>
         提交代码：
    <script type="text/javascript">
        $(function () {
            var options = {
                success: function (data) {
                    $("#responseText").text(data);
                }
            };

            $("#form1").ajaxForm(options);
        });
    </script>