 <meta charset="utf-8">
 <script type="text/javascript" src="../../resource/js/jquery-1.11.0.js"></script>
<!-- 3.0 -->
 <link href=" ../../resource/dist/css/bootstrap3.0.0.css" rel="stylesheet">
<script type="text/javascript" src="../../resource/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="../../resource/js/bootstrap-select.css">
<script type="text/javascript" src="../../resource/dist/js/bootstrap.min.js"></script>

<select id="listleave_style" class="selectpicker" name="leave_type">
   <option value="0"> 事假 </option>
　　<option value="1"> 病假 </option>
   <script type="text/javascript">
           $(window).on('load', function () {
				   
				               $('.selectpicker').selectpicker({
								                   'selectedText': 'cat'
												               });
							   
							               // $('.selectpicker').selectpicker('hide');
							           });
    </script>
	<option value="2"> 外出 </option>
　　<option value="3"> 年假 </option>
</select>
 
