<html>
<head>

<body>
<div id="leavedetail">
</div>
<ul class="pagination">
  <li><a id="paging_left" >&laquo;</a></li>
  <li><a  class="paging" onclick="">1</a></li>
  <li><a  class="paging" onclick="">2</a></li>
  <li><a  class="paging" onclick="">3</a></li>
  <li><a  class="paging" onclick="">4</a></li>
  <li><a  class="paging" onclick="">5</a></li>
  <li><a  id="paging_right" >&raquo;</a></li>
</ul>
</body>

 <script type="text/javascript">

_TheArray=new Array();
pagings=document.getElementsByClassName("paging");
document.write(pagings.length);
 for(j=0;j<pagings.length;j++){
   var  k=j;
    _TheArray[k]="http://localhost:9000/leave_detailajax?index="+pagings[j].innerHTML;
    // document.write(_TheArray[j]);
    pagings[j].setAttribute("onclick","_TheArray[k]");
    alert( pagings[j].getAttribute("onclick"));
 }
</script>
</html>
